<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
    <h1>Home</h1>
    <a href="/profilo">Visualizza Profilo</a><br><br>
    <a href="/logout">Logout </a>
    <h2>Libri</h2>
    <a href="/createBook">Aggiungi un libro</a><br><br>
    <table th:if="${not #lists.isEmpty(libri)}">
        <thead>
        <tr>
            <th>Title</th>
            <th>Dettaglio</th>
            <th>Modifica</th>
            <th>Cancella</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${libri}">
            <td th:text="${book.titolo}"></td>
            <td> <a th:href="@{/dettaglio(bookId=${book.getId()})}"> Dettaglio libro </a></td>
            <td> <a th:href="@{/modifica(bookId=${book.getId()})}"> Modifica libro </a></td>
            <td> <a th:href="@{/remove(bookId=${book.getId()})}"> Rimuovi libro </a></td>

        </tr>
        </tbody>
    </table>
</body>
</html>